{% extends "template.html" %} 
{% block title %} Logout {% endblock %} 


{% block body %}

<div class="logout-container">
    <h1 class="logout-text">You're loged out</h1> 
    <img class="logout-img" src="/static/img/mini_yoda_logout2.jpg" alt="logout-img">

    
   <div class="logout-btn-container">
       <a href="/"><button type="button" class="btn btn-secondary logout-btn">Home</button></a>
    </div> 
       

    <h6 class="logout-text-low">We are waiting for you back</h6>
</div>



{% endblock %}